


<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum dolorem veniam
  nulla modi omnis ratione adipisci labore hic ab facilis eius repellat animi,
  incidunt nobis nostrum dolor, voluptates eligendi. Incidunt autem animi fugiat
  mollitia facilis, enim sed culpa eaque numquam asperiores voluptatem
  consequuntur illo corrupti deleniti magnam placeat. Mollitia nam dolor atque
  reiciendis, corrupti, sed minus exercitationem odio veritatis possimus quod
  ducimus dolore esse necessitatibus omnis commodi tenetur quae eius cupiditate
  est nostrum eum nobis? Enim ducimus quae nesciunt, mollitia minus iure ea
  maiores possimus in perferendis officiis modi debitis alias suscipit at!
  Nulla, maiores quasi. Fugit sint alias assumenda?
</p>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex rem magnam
  quibusdam ratione aspernatur quam repellendus fuga natus nobis atque sunt,
  perspiciatis sapiente vero nulla in tempora amet deleniti quod ipsum accusamus
  asperiores repudiandae quisquam delectus fugiat! Mollitia ullam numquam
  excepturi inventore, blanditiis eum, ad ipsa labore provident, quae fugiat!
</p>
<button (click)="gotoAbout()">Go to about</button>
